& when (@media-common = true) {
    //center

    //ri.footer.contentght
    .header-center-right {
        font-size: @font-size-14px;
        letter-spacing: 1px;
        color: @color-e0e0e0;
        font-family: @font-family__fugue;
        
        float: right;
       
        a&__phone {
            color: @color-0e0e0e;
            text-decoration: none;
            &:hover {
                color:#ff87c5;
            }
        }
        a&__account {
            color: @color-0e0e0e;
            text-decoration: none;
            &:hover {
                color:#ff87c5;
            }
        }
    }
    .icon-header {
        font-size: @font-size-21px;
    }
    
    
    
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    //right 
    .header-center-right {
       display: none;
    }
  
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    //right
    .la, .las {
        font-size: 21px;
    }
    .header-center-right {
        display: inline-block;
        font-size: @font-size-11px;
        padding-top: 7%;
       
        &__phone {
            padding-right: 5px;
            display: inline-block;
        }
        &__account {
            padding-right: 5px;
            display: inline-block;
        }
    }
    
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    //search
   

    //right 
    .header-center-right {
        font-size: @font-size-14px;
        padding-top: 5%;
        &__phone {
            padding-right: 10px;
        }
        &__account {
            padding-right: 10px;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
   
    //right 
    .header-center-right {
        padding-top: 1%;
        margin-top: unset;
        &__phone {
            padding-right: 35px;
        }
        &__account {
            padding-right: 35px;
        }
    }
}